<% include partials/header %>


<h2 class="text-center">Hall of Fame:</h2>
<div class="backgroundImg">
	
	<div class="row text-center">
		<div class="twitBoard">
			
			<p><%= content%></p>
			
		</div>
		
	</div>
</div><!-- end of backgroundimg div -->
<div class="row text-center">
	<div class="socialSave text-center" style="display:inline-flex; margin-top: 10px;">
		
		
		<a href="https://www.facebook.com/dialog/feed?app_id=848276658525684&link=<%=share%>&picture=<%=pic%>&name=TwitLibs&description=Check+out+this+TwitLib&redirect_uri=<%=share%>" target="_blank"class="btn btn-default shareFb" type="button" aria-label="facebook">
			<i class="fa fa-facebook-square"></i>
		</a>
		
		
		<a href="https://twitter.com/share?url=<%=share%>&text=Check+out+this+TwitLib&hashtags=TwitLib,Madlib
			" target="_blank"class="btn btn-default shareTw" type="button" aria-label="twitter">
			<i class="fa fa-twitter"></i>
		</a>
		
		
		
	</div>
</div>






<% include partials/footer %>